.btn {
	display: inline-block;
	padding: 10px 35px;
	font-family: 'Podkova', serif;
	font-size: 1.143rem;
	color: $black;
	text-transform: uppercase;
	border: 1px solid $beige;
	border-radius: 60%;
	position: relative;
	transition: $transition-short;

	&:before {
		content: '';
		position: absolute;
		top: -4px;
		right: -4px;
		bottom: -4px;
		left: -4px;
		border: 1px solid $beige;
		border-radius: 60%;
	}

	&:hover {
		background-color: $beige;
		color: $white;
	}
}
