.portfolio {
	&__wrap {
		display: grid;
		grid-template-columns: 50% 1fr;
		grid-template-areas: 'content nav';
		gap: 3rem;

		@include media-breakpoint-down($md) {
			grid-template-columns: 100%;
			grid-template-areas: 'nav' 'content';
		}
	}

	&__left-col {
		grid-area: content;
	}

	&__right-col {
		grid-area: nav;
	}

	&__item {
		display: none;

		&.active {
			display: block;
		}

		img {
			@include media-breakpoint-down($md) {
				margin: 0 auto;
			}
		}
	}
}

.portfolio-nav {
	margin-top: 45px;

	&__item {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		font-size: 1.286rem;
		font-weight: $fw-medium;
		color: $black;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			width: 0;
			height: 100%;
			border-bottom: 1px solid $beige;
			transition: $transition-long;
		}

		&.active {
			&:before {
				width: 100%;
			}
		}

		&:hover {
			&:before {
				width: 100%;
			}
		}
	}
}
