.preloader {
	display: flex;
	background-color: $white;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;

	&__content {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-areas: 'top top' 'left right';
		row-gap: 2rem;
		justify-content: center;
		margin: auto;
		padding: 15px;

		img {
			position: relative;
			opacity: 0;
			animation-duration: 2s;
			animation-fill-mode: forwards;
			animation-delay: 2s;

			&:nth-child(1) {
				grid-area: top;
				top: -100px;
				animation-name: top-to-center;
			}
			&:nth-child(2) {
				grid-area: left;
				left: -100px;
				animation-name: left-to-center;
			}
			&:nth-child(3) {
				grid-area: right;
				right: -100px;
				margin-left: auto;
				animation-name: right-to-center;
			}
		}
	}

	&.hide {
		display: none;
	}
}

@keyframes top-to-center {
	0% {
		top: -100px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@keyframes left-to-center {
	0% {
		left: -100px;
	}

	100% {
		opacity: 1;
		left: 0;
	}
}

@keyframes right-to-center {
	0% {
		right: -100px;
	}

	100% {
		opacity: 1;
		right: 0;
	}
}
