.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: $light-beige;
}
.swiper-pagination-bullet-active {
	background-color: $beige;
}

.slider-button-next,
.slider-button-prev {
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	z-index: 5;
}

.slider-button-prev {
	background: url('../img/slider/slider-btn-prev.svg') no-repeat center center;
	left: 2%;
	top: 50%;
}

.slider-button-next {
	background: url('../img/slider/slider-btn-next.svg') no-repeat center center;
	right: 2%;
	top: 50%;
}

.swiper-slide {
	img {
		margin: 0 auto;
	}
}
