.portfolio-slider {
	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;

		background-color: $light-beige;
	}
	.swiper-pagination-bullet-active {
		background-color: $beige;
	}

	.swiper-button-next,
	.swiper-button-prev {
		background-color: #000;
		&::after {
			content: '23';
			color: $white;
			font-size: 80px;
		}
	}
}
