<!-- header -->
<header class="header">
	<div class="container">
		<div class="header-wrap">
			<a href="index.html" class="header-logo">
				<img src="img/logo.svg" alt="logo" />
			</a>
			<nav class="header-nav">
				<ul class="header-nav__list">
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">портфолио</a>
					</li>
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">сервисы</a>
					</li>
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">обо мне</a>
					</li>
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">контакты</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<!-- /header -->
