<!-- header -->
<header class="header">
	<div class="container">
		<div class="header-wrap">
			<nav class="header-nav">
				<ul class="header-nav__list">
					<li class="header-nav__item">
						<a href="#about" class="header-nav__link">обо мне</a>
					</li>
					<li class="header-nav__item">
						<a href="#portfolio" class="header-nav__link">портфолио</a>
					</li>
					<li class="header-nav__item">
						<a href="index.html" class="header-logo">
							<img src="img/logo.png" alt="Евгения Гунько" />
						</a>
					</li>
					<li class="header-nav__item">
						<a href="#services" class="header-nav__link">сервисы</a>
					</li>
					<li class="header-nav__item">
						<a href="#contacts" class="header-nav__link">контакты</a>
					</li>
				</ul>
			</nav>
			<a href="index.html" class="header-logo-tablet">
				<img src="img/logo.png" alt="Евгения Гунько" />
			</a>
		</div>
	</div>
</header>
<!-- /header -->
