*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 14px;
	scroll-behavior: smooth;
}

body {
	font-size: 1rem;
	font-family: 'Jura', sans-serif;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	color: $black;
}

ul,
ol {
	padding: 0;
	list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	text-decoration: none;
}

:focus {
	outline: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
}
