$black: #000000;
$white: #ffffff;
$beige: #a78c73;
$light-beige: #d3c0ae;

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;

$transition-long: 0.5s linear;
$transition-short: 0.2s linear;
